<div class="estadisticas-container">
    <div class="header-container">        
        <h2 class="header">Estadisticas</h2>
    </div>
    <div class="grafica-container">
        <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
        </canvas>

        <div class="buttons-container">
            <button class="grafica-btn" (click)="datosDiarios()">Semanal</button>
            <button class="grafica-btn" (click)="datosMensual()">Mensual</button>
            <button class="grafica-btn" (click)="datosAnual()">Anual</button>
        </div>
    </div>
    
</div>