.tabs-container {
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.boton-tab {
    height: 45px;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(236, 236, 236);
}

.boton-tab:active img{
    animation-name: shrink-btn;
    animation-duration: 0.5s;
}

@keyframes shrink-btn {
    from {         
        transform: scale(90%);
    }
    to {
        transform: scale(100%);
    }
}

.boton-tab img {
    height: 60%;
    width: 60%;
}

.icon-btn {
    height: 100%;
    width: 100%;
}
