.configuracion-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 7vh 73vh calc(20vh - 40px);
    grid-template-columns: 70vw 30vw;
}

.container-btn {
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
    background-color: rgb(122, 205, 216);
}

.header {
    color: white;
    justify-self: start;
    position: relative;
    left: 10px;
    font-family: 'Heebo', sans-serif;
}

button {
    background-color: white;
    border: none;
}

button img {
    height: 80%;
    width: 80%;
}

.regresar-btn {
    height: 4.5vh;
    width: 4.5vh;
    max-height: 36px;        
    max-width: 36px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.inputs-container {
    height: 80%;
    width: 95%;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding: 12px;
    padding-right: 0;
    font-size: 1rem;
    align-self: start;
    animation-name: inputs-load;
    animation-duration: 0.7s;
}

@keyframes inputs-load {
    from {
        transform: translateY(10%);
        opacity: 0%;
    }
    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}

.inputs-container label {
    height: fit-content;
    padding-right: 10px;
    font-family: 'Heebo', sans-serif;
    text-align: justify;
    color: rgb(90, 90, 90);
    align-self: end;
}

.inputs-container input {
    height: fit-content;
    width: 100%;
    margin-top: 5px;
    border: 1px solid rgb(212, 207, 207);
    outline: none;
    padding-left: 2px;    
    color: rgb(90, 90, 90);
    margin-bottom: 40px;
}

.guardar-btn {
    height: 35%;
    width: 25%;
    min-width: 80px;
    max-height: 42px;
    background-color: rgb(82, 195, 212);
    border-radius: 7px;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    box-shadow: 1px 1px 2px 1px;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    align-self: end;
    justify-self: center;
    margin-bottom: 10px;
}

.guardar-btn:active{    
    animation-name: shrink-btn;
    animation-duration: 0.5s;
}

@keyframes shrink-btn {
    from {
        font-size: 0.85rem;
    }
    to {
        font-size: 1rem;
    }
}

.modal {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 11;
}

.modal-content button {
    height: 3.9vh;
    width: 3.9vh;
    max-height: 40px;
    max-width: 40px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 1px 3px;
    border: none;
    border-radius: 50%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    position: absolute;
}

.modal-content button img {
    height: 70%;
    width: 70%;
}

.mensaje-container {
    height: 25vh;
    width: 70vw;
    max-width: 550px;
    min-height: 96px;
    background-image: linear-gradient(rgb(235, 255, 255), rgb(225, 255, 255), rgb(235, 255, 255));
    border-radius: 20px;
    position: relative;
    display: grid;
    place-items: center;
    grid-template-rows: 40% 25% 35%;
    grid-template-columns: 100%;
    animation-name: confirmacion;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes confirmacion {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 0;
    }
}

.mensaje-confirmacion {
    font-size: 120%;
    text-align: center;
    align-self: end;
    color: rgb(90, 90, 90);
}

.mensaje-container img {
    height: 70%;
    grid-row: 2 / 3;
    position: relative;
    align-self: center;
    margin-top: 10px;
}

.mensaje-container button {
    height: 50%;
    width: 35%;
    align-self: center;
    margin: 0;
}

.mensaje-container button:active{
    animation: shrink-btn;
    animation-duration: 0.3s;
}

@media screen and (orientation: landscape){
    .configuracion-container {
        grid-template-rows: 12vh 68vh calc(20vh - 40px);
    }

    .container-btn {
        grid-template-columns: 90% 10%;
    }
    
    .regresar-btn{
        height: 4.5vw;
        width: 4.5vw;
        position: relative;
        right: 3%;
    }

    .inputs-container {
        padding-top: 2%;
    }

    .guardar-btn {
        height: 80%;
        width: 15%;
        min-height: 25px;
        border-radius: 5px;
    }

    .mensaje-container {
        height: 25vw;
        width: 70vh;        
        max-height: 150px;
        grid-template-rows: 40% 40% 20%;
    }

    .mensaje-confirmacion {
        font-size: 100%;
    }

    .mensaje-container img {
        transform: scale(70%);
        margin-top: 0;
        margin-bottom: 10px;
    }

    .mensaje-container button {
        height: 80%;
        width: 35%;
        margin-bottom: 10px;
    }
}