* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

body {
    /*
    background-image: linear-gradient(white, rgb(235, 253, 255), rgb(205, 251, 255), rgb(235, 253, 255), white)
    */
    background-color: white;
}