* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

body {
    background-image: linear-gradient(white, rgb(226, 249, 255), rgb(216, 252, 255))
}