<body>   
    <div class="container-btn">
        <h2 class="header">Inicio</h2>
        <button class="btn-config" [routerLink]="['/Configuracion']">
            <img src="../../assets/settings-outline.svg" alt="Configuracion">
        </button>
    </div>

    <div class="main-container">        
        <div class="tinaco">
            <div class="agua" id="agua">
                <div class="olas ola-izquierda"></div>
                <div class="olas ola-izquierda-central"></div>
                <div class="olas ola-centro"></div>
                <div class="olas ola-derecha-central"></div>
                <div class="olas ola-derecha"></div>   
                <p class="porcentaje" id="porcentaje"></p>
                <p class="porcentaje" id="porcentaje">%</p>
            </div>
        </div>       
        
        <p id="etiqueta">Litros de agua disponibles: 800</p>
        <button (click)="activarBluetooth()" class="buscar-btn">Buscar</button>  
    </div>

    <div class="modal" *ngIf="mostrarLista">
        <div class="lista-modal">
            <div class="lista-dispositivos" >
                <div *ngIf="mostrarError" class="device" id="error-msg" style="color: rgb(200, 0, 0)">Error. {{error}}</div>
                <div *ngFor="let device of Devices" class="device"> 
                    <p>{{device.name}}</p> 
                    <button (click)="connect(device.address)" class="conectar-btn"><img src="../../assets/radio-outline.svg" alt="Conectar"></button>
                </div>

                <div *ngIf="!mostrarError" class="device loader-container">
                    <p>Buscando dispositivos...</p>
                    <div class="loader"></div>
                </div>
            </div>
            <button class="cancelar-btn" (click)="mostrarLista = false">Cancelar</button>
        </div>
    </div>
    
</body>