<body>   
    <div class="container-btn">
        <h2 class="header">Inicio</h2>
        <button class="btn-config" [routerLink]="['/Configuracion']">
            <img src="../../assets/settings-outline.svg" alt="Configuracion">
        </button>
    </div>

    <div class="main-container">        
        <div class="tinaco">
            <div class="agua" id="agua">
                <div class="olas ola-izquierda"></div>
                <div class="olas ola-izquierda-central"></div>
                <div class="olas ola-centro"></div>
                <div class="olas ola-derecha-central"></div>
                <div class="olas ola-derecha"></div>   
                <p class="porcentaje" id="porcentaje"></p>
                <p class="porcentaje" id="porcentaje">%</p>
            </div>
        </div>       
        
        <p id="etiqueta">Litros de agua disponibles: 800</p>

        <!---->
        <button (click) = "ActivarBluetooth()">Buscar</button>  
    </div>

    <!---->
    <div class="lista-bluetooth"  id="lista bluetooth">        
        <div *ngFor = "let data of Devices"> 
            <p>{{data.name}}</p>
            <p>{{data.id}}</p>

            <button (click) = "connect(data.address)">Conectar</button>
        </div>
    </div>
    
</body>