<body>
    <div class="modal" *ngIf="configuracion" (click)="configuracion=false">
        <div class="modal-content" *ngIf="configuracion">

            <div class="inputs-container" (click)="stopPropagation($event)">
                <label for="numPersonas">Numero de personas que habitan en su hogar:</label>
                <input type="number" id="numPersonas" name="numPersonas" min="1" max="10" placeholder="{{personas}}" [(ngModel)]="personas">
                <label for="limite">Limite de litros que desea gastar:</label>
                <input type="number" id="limite" name="limite" min="1" max="1000" placeholder="{{litros}}" [(ngModel)]="litros">
            </div>

            <button class="guardar-btn" (click)="guardarConfiguracion()"><img src="../../assets/save-outline.svg" alt="Guardar"></button>
            <button class="cancelar-btn" (click)="configuracion=false"><img src="../../assets/return-down-back-outline.svg" alt="Cancelar"></button>
        </div>
    </div>

    <div class="container-btn">
        <button class="btn-config" (click)="configuracion = true">
            <img src="../../assets/settings-outline.svg" alt="Configuracion">
        </button>
    </div>

    <div class="main-container">
        
        <div class="tinaco">
            <div class="agua" id="agua">
                <div class="olas ola-izquierda"></div>
                <div class="olas ola-izquierda-central"></div>
                <div class="olas ola-centro"></div>
                <div class="olas ola-derecha-central"></div>
                <div class="olas ola-derecha"></div>   
                <p class="porcentaje" id="porcentaje"></p>
                <p class="porcentaje" id="porcentaje">%</p>
            </div>
        </div>

        <div class="etiqueta">
            <p id="etiqueta">Litros de agua disponibles: 800</p>
        </div>
    </div>
</body>