body {
    height: calc(100vh - 40px);
    width: 100vw;
    display: grid;
    grid-template-rows: 7vh calc(93vh - 40px);
}

.main-container {
    height: calc(100vh - 90px);
    width: 100%;
    display: grid;
    grid-template-rows: 70% 10% 20%;
    place-items: center;
}

.container-btn {
    width: 100%;
    height: 100%;
    min-height: 36px;
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
    background-color: rgb(122, 205, 216);
}

.header {
    color: white;
    justify-self: start;
    position: relative;
    left: 10px;
    font-family: 'Heebo', sans-serif;
}

.btn-config {
    height: 5vh;
    width: 5vh;
    max-height: 36px;        
    max-width: 36px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.btn-config img {
    height: 85%;
    width: 85%;
}

button:active img {
    animation: shrink-btn;
    animation-duration: 0.2s;
}

@keyframes shrink-btn {
    from {         
        transform: scale(90%);
    }
    to {
        transform: scale(100%);
    }
}

.tinaco {
    height: 65%;
    width: 60%;
    min-width: 130px;
    max-height: 300px;
    max-width: 230px;
    border: 1px solid rgb(120, 120, 120);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    display: flex;
    align-items: flex-end;
    align-self: center;
    background-color: white;
    overflow: hidden;
    position: relative;
    top: 7%;
}

.agua {
    height: 0;
    width: 100%;
    margin: 0;
    border: 1px solid rgb(230, 250, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(219, 247, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 99.45%;
    position: relative;
}

.olas {
    height: 20%;
    width: 50%;
    background-color: rgb(219, 247, 255);
    position: absolute;
    border-radius: 50%;
    top: 0;
    animation: waves 0.9s infinite alternate;
}

.ola-izquierda {
    left: -20%;
}

.ola-izquierda-central {
    left: 0;
    animation-delay: 1s;
}

.ola-centro {
    width: 60%;
}

.ola-derecha-central {
    right: 0;
    animation-delay: 1s;
}


.ola-derecha {
    right: -20%;
}

@keyframes waves {
    from {
        top: 0;
    }
    to {
        top: -3px;
    }
}

p {    
    font-size: 1.3rem;
    color: rgb(90, 90, 90);
    height: auto;
    width: auto;
    text-align: justify;
}

#etiqueta {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.porcentaje {
    animation-name: porcentajeVisible;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    font-size: 30px;
}

@keyframes porcentajeVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.boton-conectar {
    width: 28%;
    height: 28%;
    background: rgb(122, 205, 216);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 100%;
    align-self: center;
}

@media screen and (orientation: landscape){    
    body {
        grid-template-rows: 7vw calc(93vw - 45px);;
    }

    .main-container {
        grid-row: 2 / 3;
        grid-template-rows: 70% 15% 15%
    }

    .container-btn {
        grid-template-columns: 90% 10%;
    }

    .btn-config{
        height: 4.5vw;
        width: 4.5vw;
    }

    .tinaco {
        height: 85%;
        width: 20%;
        top: 0;
    }

    #etiqueta {
        align-self: center;
        position: absolute;
        top: 75%;
    }

    p {
        font-size: 100%;
    }

    .porcentaje {
        font-size: 1.35rem;
    }

    .boton-conectar {
        height: 70%;
        width: 12%;
        position: relative;
        bottom: -30px;
    }
}
