* {
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 75% 25%;
    place-items: center;
}

.tinaco {
    height: 60%;
    width: 60%;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: end;
    background-color: white;
    max-width: 400px;
}

.agua {
    height: 0;
    width: 100%;
    margin: 0;
    border: 1px solid rgb(188, 237, 253);
    background-color: rgb(188, 237, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
}

.etiqueta {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

p {    
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
}

p.porcentaje {
    animation-name: porcentajeVisible;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    font-size: 30px;
}

@keyframes porcentajeVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}